.pageCounter {
    display: flex;
    gap: var(--gap-medium);
    align-items: center;
    justify-content: center;
    background-color: #7367ff;
    padding-inline: var(--padding-block-small);
    padding-block: var(--padding-block-small);
    border-radius: var(--border-radius-xsmall);
}

.pageCounter p {
    color: white;
    font-size: var(--font-size-small);
    margin: 0;
    padding: 0;
}

.pageChanger {
    background-color: transparent;
    border: none;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pageChanger svg {
    stroke: white;
    fill: white;
    width: 100%;
    height: 100%;
}

.pageChanger svg:hover {
    fill: #a4a0d1;
    stroke: #a4a0d1;
}

.addPageButton {
    background-color: transparent;
    border: none;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addPageButton svg {
    stroke: white;
    fill: white;
    width: 100%;
    height: 100%;
}

.addPageButton svg:hover {
    fill: #a4a0d1;
    stroke: #a4a0d1;
}
