.titleSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    max-width: 1200px;
    margin-right: auto;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--padding-block-small);
}

.pageHeading {
    font-size: var(--font-size-xlarge);
    font-weight: bold;
    width: 100%;
    text-align: left;
    color: rgb(var(--dashboard-text-color-rgb));
}

.subHeading {
    font-size: var(--font-size-small);
    width: 100%;
    text-align: left;
    color: rgb(var(--dashboard-text-color-rgb));
    font-weight: bold;
}

.cardContainer {
    width: 100%;
}

.tutorialButton {
    background-color: rgb(var(--dashboard-accent-color-rgb));
    color: white;
    border-radius: var(--border-radius-xsmall);
    cursor: pointer;
    transition: background-color 0.2s;
    padding: var(--padding-block-small);
    font-size: var(--font-size-small);
    font-weight: bold;
    width: 70px;
    height: 30px;
    text-align: center;
    border: none;
}

.tutorialButton:hover {
    background-color: rgb(var(--dashboard-accent-color-hover-rgb));
}

@media screen and (max-width: 768px) {
    .cardContainer {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .cardContainer {
        display: none;
    }
}
