.tutorialContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-block-large);
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-block-medium);
    width: 100%;
}

.title {
    font-size: var(--font-size-xlarge);
    font-weight: bold;
    color: black;
}

.description {
    font-size: var(--font-size-medium);
    color: black;
    opacity: 0.7;
}

.tutorial {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    border-radius: var(--border-radius-small);
}

.tutorialTitle {
    font-size: var(--font-size-large);
    font-weight: bold;
    color: black;
}

.tutorialDescription {
    font-size: var(--font-size-medium);
    color: black;
    opacity: 0.6;
}

.horizontalLine {
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.2;
    margin-block: var(--padding-block-small);
}

.videoContainer {
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-top-right-radius: var(--border-radius-small);
    border-top-left-radius: var(--border-radius-small);
    padding-block-start: var(--padding-block-medium);
}

.tutorialText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-block-small);
    padding-inline: var(--padding-block-large);
    padding-block-start: var(--padding-block-large);
    padding-block-end: var(--padding-block-large);
    background-color: rgb(241, 241, 241);
    border-bottom-right-radius: var(--border-radius-small);
    border-bottom-left-radius: var(--border-radius-small);
    width: 100%;
}

@media screen and (width < 480px) {
    .videoContainer {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tutorialTitle {
        font-size: var(--font-size-medium);
    }

    .tutorialDescription {
        font-size: var(--font-size-small);
    }
}
