.container {
    width: 70%;
    min-width: 309px;
    max-width: 850px;
    margin-inline: auto;
    margin-block-end: var(--padding-block-small);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-small);
}

.pageCounter {
    font-size: var(--font-size-small);
}

.pageFunctionContainer {
    display: flex;
    gap: var(--gap-small);
    justify-content: center;
    align-items: center;
}

.deletePageButton {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.deletePageButton svg {
    width: 100%;
    height: 100%;
    stroke: rgb(255, 102, 102);
    fill: rgb(255, 102, 102);
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}
