.container {
    width: 70%;
    min-width: 309px;
    max-width: 850px;
    margin-inline: auto;
    margin-block-end: var(--padding-block-small);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-small);
}

.pageCounter {
    font-size: var(--font-size-small);
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}
