.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.staticResumeSlanted {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-medium);
    padding-block: var(--padding-block-large);
    position: absolute;
    border: 1px solid lightgrey;
    border-radius: var(--border-radius-xsmall);
    transform: rotate(-1.5deg);
}
.staticResumeSlanted2 {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-medium);
    padding-block: var(--padding-block-large);
    position: absolute;
    border: 1px solid lightgrey;
    border-radius: var(--border-radius-xsmall);
    transform: rotate(-3deg);
}

.template {
    aspect-ratio: 8.5/11;
    width: 400px;
    background-color: white;
}

.templatePreview {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(198, 198, 198, 0.416);
    cursor: pointer;
    position: relative;
}

.staticTemplate {
    aspect-ratio: 8.5/11;
    min-width: 400px;
    max-width: 400px;
    background-color: white;
    position: absolute;
}
