.container {
    width: 100%;
    overflow-x: auto;
}

.addItemButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-block-small);
}

.addItemButton svg {
    width: 30px;
    height: 30px;
    stroke: rgb(var(--dashboard-accent-color-rgb));
    fill: rgb(var(--dashboard-accent-color-rgb));
}

.addItemButton p {
    font-size: var(--font-size-small);
    color: rgb(var(--dashboard-accent-color-rgb));
}

.noJobs {
    width: 100%;
    text-align: center;
    padding-block: var(--padding-block-medium);
    font-size: var(--font-size-small);
    color: rgb(var(--dashboard-text-color-rgb));
    font-weight: bold;
}

@media screen and (hover: hover) {
    .addItemButton:hover svg {
        stroke: rgb(var(--dashboard-accent-color-hover-rgb));
        fill: rgb(var(--dashboard-accent-color-hover-rgb));
    }

    .addItemButton:hover p {
        color: rgb(var(--dashboard-accent-color-hover-rgb));
    }
}
