.main {
    height: calc(100% - var(--nav-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f5f5f5;
    position: relative;
    z-index: 0;
    padding-inline: var(--padding-inline-xlarge);
    padding-block: var(--padding-block-large);
    overflow-x: hidden;
    gap: var(--padding-block-large);
}

.largeHeading {
    font-size: 15rem;
    font-weight: 900;
    color: #e5e5e5;
    position: absolute;
    left: 0;
    z-index: 0;
}
.topHeading {
    top: -1rem;
}

.bottomHeading {
    top: calc(15rem - 1rem);
}

.circle {
    position: absolute;
    width: max(110vw, 110vh);
    height: max(110vw, 110vh);
    border-radius: 50%;
    background-color: #f4e9ff;
    z-index: -1;

    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .cardContainer {
        display: none;
    }

    .main {
        padding-inline: var(--padding-inline-large);
    }
}

@media screen and (max-width: 500px) {
    .cardContainer {
        display: none;
    }

    .main {
        padding-inline: var(--padding-inline-medium);
    }
}
