.main {
    height: calc(100% - var(--nav-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eaeaea;
    position: relative;
    z-index: 0;
    padding-inline: var(--padding-inline-xlarge);
    padding-block: var(--padding-block-medium);
    overflow-x: hidden;
    gap: var(--padding-block-large);
}

.largeHeading {
    font-size: 12rem;
    font-weight: 900;
    color: #f3f3f3;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 0;
}
.largeHeading2 {
    font-size: 12rem;
    font-weight: 900;
    color: #f3f3f3;
    position: absolute;
    top: calc(12rem - 40px);
    left: 0;
    z-index: 0;
}

.titleSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.pageHeading {
    font-size: var(--font-size-large);
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.subHeading {
    font-size: var(--font-size-small);
    width: 100%;
    text-align: left;
}
