.main {
    height: calc(100% - var(--nav-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eaeaea;
    position: relative;
    z-index: 0;
    padding-inline: var(--padding-inline-xlarge);
    padding-block: var(--padding-block-large);
    overflow-x: hidden;
    gap: var(--padding-block-large);
}

.largeHeading {
    font-size: 15rem;
    font-weight: 900;
    color: #e5e5e5;
    position: absolute;
    left: 0;
    z-index: 0;
}
.topHeading {
    top: -1rem;
}

.bottomHeading {
    top: calc(15rem - 1rem);
}

.titleSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.pageHeading {
    font-size: var(--font-size-large);
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.subHeading {
    font-size: var(--font-size-small);
    width: 100%;
    text-align: left;
}

.profileCardContainer {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .profileCardContainer {
        display: none;
    }

    .main {
        padding-inline: var(--padding-inline-large);
    }
}

@media screen and (max-width: 500px) {
    .profileCardContainer {
        display: none;
    }

    .main {
        padding-inline: var(--padding-inline-medium);
    }
}
