.profileSectionContent {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: var(--padding-block-medium);
}

.label {
    font-size: var(--font-size-small);
    z-index: 1;
    width: 100%;
    text-align: left;
    color: rgb(var(--dashboard-text-color-rgb));
}

.contactInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: var(--padding-block-small);
}

.fieldContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-small);
}

.item {
    font-size: var(--font-size-small);
    font-weight: bold;
    z-index: 1;
    width: 100%;
    height: 30px;
    background-color: rgb(var(--dashboard-background-color-rgb));
    border-radius: var(--border-radius-xsmall);
    padding-block: var(--padding-block-small);
    padding-inline-start: var(--padding-block-small);
}

.input {
    width: 100%;
    height: 30px;
    border: 1px solid #e1e1e1;
    padding-inline-start: var(--padding-block-small);
    font-size: var(--font-size-small);
    color: rgb(var(--dashboard-text-color-rgb));
}

.input:focus {
    outline: none;
    border: 1px solid rgb(var(--dashboard-accent-color-rgb));
}

.submitButton {
    width: 100%;
    background-color: rgb(var(--dashboard-accent-color-rgb));
    color: rgb(var(--dashboard-accent-color-contrast-rgb));
    border-radius: var(--border-radius-xsmall);
    min-height: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-small);
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-block-start: var(--padding-block-medium);
    gap: var(--padding-block-small);
}

.cancelButton {
    width: 100%;
    background-color: rgb(var(--dashboard-background-color-contrast-rgb));
    color: rgb(var(--dashboard-text-color-rgb));
    height: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-xsmall);
    font-size: var(--font-size-small);
}

/*add media query for hoverable devices */
@media (hover: hover) {
    .submitButton:hover {
        background-color: rgb(var(--dashboard-accent-color-hover-rgb));
    }

    .cancelButton:hover {
        background-color: rgb(
            var(--dashboard-background-color-contrast-rgb),
            0.5
        );
    }
}

@media screen and (max-width: 900px) {
    .profileSection {
        padding-inline: var(--padding-block-large);
        padding-block: var(--padding-block-large);
    }
    .profileSectionContent {
        flex-direction: row;
        align-items: flex-end;
    }
    .contactInfo {
        width: 100%;
        align-self: center;
    }
}

@media screen and (max-width: 635px) {
    .profileSectionContent {
        flex-direction: column;
    }
    .label {
        text-align: center;
    }
    .item {
        text-align: center;
        padding-block-end: var(--padding-block-medium);
    }
}

@media screen and (max-width: 500px) {
    .item {
        font-size: var(--font-size-small);
    }
}
