.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-medium);
    padding-block: var(--padding-block-small);
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--padding-block-small);
}

.column {
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-medium);
    justify-content: center;
    align-items: flex-start;
}

.title {
    font-size: var(--font-size-medium);
}

.title span {
    font-weight: 700;
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-small);
    width: 100%;
    padding-inline-start: var(--padding-block-small);
}

.listItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-block-small);
}

.iconContainer {
    width: 20px;
    height: 20px;
    fill: #d299ff;
}

.text {
    font-size: var(--font-size-small);
    font-weight: 500;
}

.upgradeButton {
    color: #d299ff;
    font-size: var(--font-size-small);
    font-weight: 700;
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-small);
    border: 1px solid #d299ff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.upgradeButton:hover {
    background-color: #d299ff;
    color: white;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        gap: var(--padding-block-medium);
        align-items: center;
    }

    .column {
        width: 100%;
        align-items: flex-start;
    }

    .upgradeButton {
        width: 100%;
    }
}
