.rowContainer {
    width: 100%;
    height: calc(100% - var(--nav-height));
    display: flex;
    flex-direction: row;
}

.columnContainer {
    width: calc(100% - var(--editor-side-menu-width));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
