.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding-block: var(--padding-block-large);
    padding-inline: var(--padding-inline-large);
    overflow-y: auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
}

.modal {
    background-color: white;
    margin: auto;
    width: 80%;
    max-width: 500px;
    padding-block: var(--padding-block-large);
    padding-inline: var(--padding-inline-large);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 425px) {
    .modal {
        width: 95%;
    }

    .container {
        padding-block: var(--padding-block-medium);
        padding-inline: var(--padding-inline-medium);
    }
}
