.container {
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    margin-inline-end: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-medium);
    grid-template-areas: "profilePic profilePic" "profile work" "education education" "projects projects";
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "profilePic" "profile" "work" "education" "projects";
    }
}
