.container {
    width: 100%;
}

.manageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: var(--padding-block-large);
    padding-inline: var(--padding-inline-xlarge);
    padding-block: var(--padding-block-medium);
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--padding-block-medium);

    background-color: rgb(var(--dashboard-background-color-rgb));
    padding-block: var(--padding-block-medium);
    padding-inline: var(--padding-inline-medium);
    border-radius: var(--border-radius-xsmall);
}

.title {
    font-size: var(--font-size-medium);
    color: rgb(var(--dashboard-text-color-rgb));
}

.labelItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: calc(var(--padding-block-small) / 2);
}

.label {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: rgb(var(--dashboard-text-color-rgb));
}

.jobTitle {
    font-size: var(--font-size-small);
    color: rgb(var(--dashboard-text-color-rgb));
    text-align: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jobName {
    font-size: var(--font-size-small);
    color: rgb(var(--dashboard-text-color-rgb));
    text-align: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.documentSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: var(--padding-block-large);
}

.resumesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: var(--gap-large); /* Adjust as needed */
    width: 100%;
    margin: 0 auto; /* Center the grid horizontally */
    position: relative;
}

.document {
    aspect-ratio: 8.5 / 11;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.377);
    border-radius: var(--border-radius-xsmall);
    z-index: 2;
}

.backButton {
    align-self: flex-start;
    background-color: transparent;
    color: rgb(var(--dashboard-accent-color-rgb));
    border: none;
    font-size: var(--font-size-small);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.backButton svg {
    width: 20px;
    height: 20px;
    stroke: rgb(var(--dashboard-accent-color-rgb));
}

.editContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 3px;
}

.editButton {
    background-color: transparent;
    color: rgb(var(--dashboard-accent-color-rgb));
    border: none;
    font-size: var(--font-size-small);
    text-decoration: underline;
    margin-inline-end: var(--padding-block-medium);
    cursor: pointer;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-block-medium);
}

.input {
    width: 100%;
    padding: var(--padding-block-small);
    border: none;
    border-radius: var(--border-radius-xsmall);
    font-size: var(--font-size-small);
    color: rgb(var(--dashboard-text-color-rgb));
    background-color: rgb(var(--dashboard-background-color-contrast-rgb));
}

.input:focus {
    outline: 1px solid rgb(var(--dashboard-accent-color-rgb), 0.4);
    background-color: white;
}

.editButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--padding-block-small);
}

.cancelButton {
    background-color: rgb(var(--dashboard-background-color-contrast-rgb));
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    border-radius: var(--border-radius-xsmall);
    border: none;
    font-size: var(--font-size-small);
    cursor: pointer;
}

.saveButton {
    background-color: rgb(var(--dashboard-accent-color-rgb));
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    border-radius: var(--border-radius-xsmall);
    border: none;
    font-size: var(--font-size-small);
    color: rgb(var(--dashboard-accent-color-contrast-rgb));
    cursor: pointer;
}

.deleteButtonContainer {
    margin-block-start: var(--padding-block-medium);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteButton {
    background-color: transparent;
    color: rgb(219, 109, 109);
    border: none;
    font-size: var(--font-size-small);
    text-decoration: underline;
    cursor: pointer;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.colorOptions {
    position: absolute;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    background-color: white;
    border-radius: var(--border-radius-small);
    padding-inline: 5px;
    padding-block: 5px;
    z-index: 0;
}

.selected {
    border: 2px solid rgb(var(--dashboard-text-color-rgb));
}

.colorOption {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.jobDescriptionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-block-large);
    background-color: rgb(var(--dashboard-background-color-contrast-rgb));
    padding-block: var(--padding-block-medium);
    padding-inline: var(--padding-inline-medium);
    overflow: hidden;
    border-radius: var(--border-radius-xsmall);
}

.jobDescriptionCheckbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-block-small);
}

.checkboxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
}

.checkbox {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(var(--dashboard-text-color-rgb));
    border-radius: var(--border-radius-xsmall);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
}

.checkboxContainer svg {
    width: 100%;
    height: 100%;
    stroke: rgb(var(--dashboard-text-color-rgb));
    fill: rgb(var(--dashboard-text-color-rgb));
}

.jobDescriptionLabel {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: rgb(var(--dashboard-text-color-rgb));
}

.jobDescription {
    font-size: var(--font-size-small);
    color: rgb(var(--dashboard-text-color-rgb));
}

@media screen and (max-width: 530px) {
    .editButtonContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .saveButton {
        width: 100%;
    }

    .cancelButton {
        width: 100%;
    }
    .manageContainer {
        padding-inline: var(--padding-inline-medium);
    }
}

@media screen and (hover: hover) {
    .backButton:hover {
        color: rgb(var(--dashboard-accent-color-hover-rgb));
    }

    .backButton:hover svg {
        stroke: rgb(var(--dashboard-accent-color-hover-rgb));
    }

    .cancelButton:hover {
        background-color: rgb(
            var(--dashboard-background-color-contrast-rgb),
            0.5
        );
    }

    .saveButton:hover {
        background-color: rgb(var(--dashboard-accent-color-hover-rgb));
    }

    .editButton:hover {
        color: rgb(var(--dashboard-accent-color-hover-rgb));
    }

    .deleteButton:hover {
        color: rgba(219, 109, 109, 0.618);
    }
}
