.main {
    width: 100%;
    height: calc(
        100% - var(--editor-titlebar-height) - var(--editor-subtitlebar-height)
    );
    background-color: #f2f2f2;
    overflow-x: auto;
    overflow-y: auto;
    padding-block: var(--padding-block-large);
    padding-inline: var(--padding-inline-medium);
    position: relative;
}
