.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-medium);
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.itemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-small);
}

.title {
    font-size: var(--font-size-medium);
    color: white;
    width: 100%;
    text-align: left;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-small);
    padding-inline: var(--padding-inline-medium);
    padding-block: var(--padding-block-small);
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: context-menu;
}
