.pageContainer {
    width: 100%;
    height: calc(100% - var(--nav-height));
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: var(--padding-block-large);
    padding-block-end: var(--padding-block-xlarge);
    padding-inline: var(--padding-inline-large);
    background-image: url("/images/auth/sign-up-background-desktop.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: auto;
    position: relative;
}

@media (max-width: 800px) {
    .pageContainer {
        padding-block-start: var(--padding-block-medium);
    }
}
