.pageContainer {
    width: 100%;
    height: calc(100% - var(--nav-height));
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: var(--padding-block-large);
    padding-block-end: var(--padding-block-xlarge);
    padding-inline: var(--padding-inline-large);
    background-color: #007acc;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

@media (max-width: 800px) {
    .pageContainer {
        padding-block-start: var(--padding-block-medium);
    }
}
