.sectionContainer {
    width: 100%;
    position: relative;
    cursor: pointer;
    background-color: white;
}

.pageContainer {
    aspect-ratio: 8.5 / 11;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}
