.textContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.description {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: white;
}

.title {
    font-size: var(--font-size-x2large);
    font-weight: bold;
    letter-spacing: -0.1ch;
    text-align: center;
    width: 100%;
    line-height: 1.2;
    color: white;
}

.subTitle {
    font-size: var(--font-size-small);
    text-align: center;
    color: white;
    width: 100%;
    max-width: 60ch;
    margin-block-start: var(--padding-block-medium);
    opacity: 0.8;
}

.linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    padding-block-start: var(--padding-block-large);
    padding-inline: var(--padding-inline-medium);
    width: 100%;
}

.link {
    font-size: var(--font-size-small);
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    width: 12rem;
    height: 3rem;
}

.linkLeft {
    background-color: white;
    color: black;
}

.squiggleArrow {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("/images/icons/squiggle-arrow.svg");
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scaleX(-1) rotate(-70deg) translate(50%, 285%);
}

.embedContainer {
    width: 70%;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: var(--font-size-xlarge);
    }
    .subtitle {
        font-size: var(--font-size-medium);
    }
    .squiggleArrow {
        transform: scaleX(-1) rotate(-70deg) translate(80%, 355%);
    }
}

@media screen and (max-width: 450px) {
    .linkContainer {
        flex-direction: column;
        gap: var(--gap-medium);
    }

    .squiggleArrow {
        display: none;
    }
}

@media screen and (max-width: 630px) {
    .squiggleArrow {
        display: none;
    }
}
