.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.buttonContainer {
    display: flex;
    gap: var(--gap-medium);
}

.button {
    color: black;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 400px;
}
