.container {
    display: flex;
    position: absolute;
    top: var(--nav-height);
    right: 0;
}

.aside {
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-block-start: var(--padding-block-large);
    padding-block-end: var(--padding-block-medium);
    padding-inline: var(--padding-inline-medium);
    height: 100%;
}

.menuItemContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: var(--gap-medium);
}

.menuItem {
    color: black;
    text-decoration: none;
    font-size: var(--font-size-medium);
    width: 100%;
    font-weight: bold;
}

.signOutButton {
    color: black;
    text-decoration: none;
    font-size: var(--font-size-medium);
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(219, 48, 77);
}

.greeting {
    font-size: var(--font-size-large);
    font-weight: bold;
    color: black;
}

.bar {
    background-color: rgb(173, 173, 173);
    width: 100%;
    height: 1px;
    margin-block: var(--padding-block-small);
}

@media screen and (min-width: 580px) {
    .container {
        display: none;
    }
}
