.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-medium);
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.iconContainer {
    width: 6rem;
    height: 6rem;
    fill: #a183cf;
}

.title {
    font-size: var(--font-size-xlarge);
    color: #a183cf;
    margin-block-start: var(--padding-block-small);
}

.benefitsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-small);
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-small);
    width: 100%;
    padding-inline-start: var(--padding-block-small);
}

.listItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-block-small);
}

.checkIconContainer {
    width: 20px;
    height: 20px;
    fill: #a183cf;
    stroke-width: 0.2;
}

.subTitle {
    font-size: var(--font-size-medium);
    font-weight: 600;
    margin-block-start: var(--margin-block-large);
    margin-block-end: var(--margin-block-large);
}

.subTitle span {
    color: #a183cf;
    font-weight: 700;
    text-decoration: underline;
}

.text {
    font-size: var(--font-size-medium);
    color: var(--color-text);
    margin-block-start: var(--margin-block-large);
    margin-block-end: var(--margin-block-large);
}

.button {
    width: 100%;
    background-color: #a183cf;
    color: white;
    border-radius: var(--border-radius-small);
    height: 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #8a6fbf;
}

.cancelButton {
    width: 100%;
    background-color: #ff8989;
    color: white;
    border-radius: var(--border-radius-small);
    height: 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelButton:hover {
    background-color: #c17272;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-small);
    margin-block-start: var(--padding-block-medium);
}

.continueText {
    font-weight: 600;
    color: #a183cf;
}

.cancelText {
    font-weight: 600;
    color: #ff8989;
}

.smallText {
    font-size: var(--font-size-small);
    color: var(--color-text);
}
