.container {
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap-medium);
    grid-template-areas: "jobs resumes cover-letters";
    margin-inline-end: auto;
}
