.container {
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    margin-inline-end: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--gap-medium);
    grid-template-areas: "plan bill" "upgrade upgrade" "payments payments";
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "plan" "bill" "upgrade" "payments";
    }
}
