.itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: var(--padding-block-small);
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-block: var(--padding-block-medium);
    padding-inline: var(--padding-inline-medium);
    border: 1px solid rgb(193, 193, 193, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

/*
.item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}
*/

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--padding-block-small);
}

.label {
    font-size: var(--font-size-small);
}

.statusContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-inline-small);
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.value {
    font-size: var(--font-size-small);
    font-weight: 700;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-inline-small);
}

.button {
    font-size: var(--font-size-small);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    padding: var(--padding-block-medium);
}

.buttonNumber {
    font-size: var(--font-size-small);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: var(--padding-block-medium);
}

.buttonNumber:hover {
    background-color: #d299ff;
}

.longButton {
    font-size: var(--font-size-small);
    font-weight: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    padding: var(--padding-block-medium);
}

.longButton:hover {
    color: #d299ff;
}

.iconContainer {
    width: 20px;
    height: 20px;
}

.button svg {
    stroke: rgb(158, 158, 158);
    fill: rgb(158, 158, 158);
    width: 20px;
    height: 20px;
    stroke-width: 0.1;
}

.button svg:hover {
    stroke: #d299ff;
    fill: #d299ff;
}

.active {
    background-color: #d299ff;
    color: white;
}

.empty {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: var(--padding-block-small);
}

.empty p {
    font-size: var(--font-size-small);
}

@media screen and (max-width: 564px) {
    .label {
        font-size: var(--font-size-xsmall);
    }
    .value {
        font-size: var(--font-size-xsmall);
    }
    .statusContainer {
        gap: 0.2rem;
    }
}

@media screen and (max-width: 390px) {
    .item {
        flex-direction: column;
        gap: var(--padding-block-small);
        justify-content: center;
        align-items: center;
    }
    .itemContainer p {
        width: 100%;
        text-align: center;
        font-size: var(--font-size-medium);
    }
    .column {
        gap: var(--padding-block-xsmall);
    }
}
