.container {
    height: var(--editor-titlebar-height);
    width: 100%;
    background-color: rgb(var(--editor-accent-color-rgb));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline: var(--padding-inline-medium);
    color: white;
    gap: var(--gap-medium);
}

.title {
    color: white;
}
