.container {
    height: var(--editor-titlebar-height);
    width: 100%;
    background-color: rgb(var(--editor-accent-color-rgb));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-inline: var(--padding-inline-medium);
    color: white;
    gap: var(--gap-medium);
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-small);
    position: relative;
}

.title {
    font-size: var(--font-size-medium);
    color: white;
}

.iconContainer {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(150%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.iconContainer svg {
    width: 15px;
    height: 15px;
    fill: white;
}

.iconContainer:hover svg {
    fill: rgba(255, 255, 255, 0.724);
}

.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-medium);
    justify-content: flex-start;
}

.inputContainer input {
}

.saveIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.saveIconContainer svg {
    width: 20px;
    height: 20px;
    fill: white;
    stroke: white;
}

.saveIconContainer:hover svg {
    fill: rgba(255, 255, 255, 0.724);
    stroke: rgba(255, 255, 255, 0.724);
}

.cancelIconContainer svg {
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: var(--font-size-small);
    }
}
