.background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(162, 162, 162, 0.502);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding-block: var(--padding-block-large);
    gap: var(--padding-block-large);
}

.container {
    width: 80%;
    max-width: 700px;
    max-height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-block-start: var(--padding-block-large);
    border-radius: var(--border-radius-small);
    overflow: hidden;
}

.titleContainer {
    display: flex;
    gap: var(--padding-block-small);
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--padding-inline-medium);
}

.cancelButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cancelButton svg {
    width: 20px;
    height: 20px;
    stroke: rgb(var(--accent-color-rgb));
}

.cancelButton svg:hover {
    stroke: rgb(var(--accent-color-rgb), 0.5);
}

.title {
    font-size: var(--font-size-medium);
}

.searchBarContainer {
    width: calc(100% - 2 * var(--padding-inline-medium));
    display: flex;
    gap: var(--padding-block-small);
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: var(--border-radius-xsmall);
    padding-inline: var(--padding-inline-small);
    align-self: center;
    margin-block-start: var(--padding-block-medium);
}

.searchBarContainer svg {
    width: 20px;
    height: 20px;
    stroke: none;
    fill: grey;
}

.searchBar {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    font-size: var(--font-size-small);
    padding-block: var(--padding-block-small);
}

.searchBar:focus {
    outline: none;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(129, 129, 129, 0.5);
    margin-block-start: var(--padding-block-medium);
}

.resultsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.resultItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-inline: var(--padding-inline-small);
    padding-block: var(--padding-block-large);
    padding-inline: var(--padding-inline-medium);
    gap: var(--padding-block-medium);
}

.odd {
    background-color: #e2e2e2;
    position: relative;
}

.colContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--padding-block-small);
}

.rowContainer {
    width: 100%;
    display: flex;
    gap: var(--padding-block-small);
    align-items: flex-start;
    justify-content: space-between;
}

.name {
    font-size: var(--font-size-medium);
    color: black;
    font-weight: bold;
}

.description {
    margin-block-start: var(--padding-block-small);
    font-size: var(--font-size-small);
    color: grey;
}

.selectButton {
    background-color: rgb(var(--accent-color-rgb));
    color: white;
    border: none;
    padding-inline: var(--padding-inline-medium);
    padding-block: var(--padding-block-small);
    border-radius: var(--border-radius-xsmall);
    cursor: pointer;
    font-size: var(--font-size-small);
    min-width: 120px;
}

.selectButton:hover {
    background-color: rgb(var(--accent-color-rgb), 0.5);
}

.exampleContainer {
    width: 100%;
    border: 1px solid rgba(129, 129, 129, 0.5);
    margin-block-start: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    padding-block: var(--padding-block-small);
    background-color: white;
}

.selectButtonMobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .container {
        width: 95%;
        padding-inline: var(--padding-inline-small);
    }

    .selectButton {
        display: none;
    }

    .selectButtonMobile {
        display: flex;
        width: 100%;
        background-color: rgb(var(--accent-color-rgb));
        color: white;
        border: none;
        padding-inline: var(--padding-inline-medium);
        padding-block: var(--padding-block-small);
        border-radius: var(--border-radius-xsmall);
        cursor: pointer;
        font-size: var(--font-size-small);
        margin-block-start: var(--padding-block-small);
    }

    .selectButtonMobile:hover {
        background-color: rgb(var(--accent-color-rgb), 0.5);
    }
}
