.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: var(--padding-block-xlarge);
    flex-wrap: wrap;
    gap: var(--padding-block-xlarge);
}

.freeCard {
    position: relative;
}

.specialCard {
    margin-block-start: calc(-1 * var(--padding-block-xlarge));

    position: relative;
}

.proCard {
    position: relative;
}

@media screen and (max-width: 1080px) {
    .container {
        gap: var(--padding-block-large);
    }
}

@media screen and (max-width: 986px) {
    .specialCard {
        margin-block-start: 0;
    }
}
