.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100%, 940px);
    padding-block-start: 3rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.freeCard {
    position: relative;
}

.specialCard {
    margin-block-start: -1.25rem;

    position: relative;
}

.proCard {
    position: relative;
}

@media screen and (max-width: 1080px) {
    .container {
        gap: var(--padding-block-large);
    }
}

@media screen and (max-width: 986px) {
    .specialCard {
        margin-block-start: 0;
    }
}
@media screen and (max-width: 600px) { .container { gap: 1rem; } .freeCard,.specialCard,.proCard { width: min(100%,320px); } }
