.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-block-medium);
    z-index: 1;
    border-radius: var(--border-radius-xsmall);
    padding-block: var(--padding-block-medium);
    position: relative;
    background-color: rgb(var(--dashboard-background-color-contrast-rgb), 1);
    backdrop-filter: blur(10px);
}

.profileImagecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-block-medium);
    z-index: 1;
    border-radius: var(--border-radius-xsmall);
    padding-block: var(--padding-block-medium);
    position: relative;
}

.profileImage {
    width: 100%;
    max-width: 130px;
    aspect-ratio: 1/1;
    position: relative;
    z-index: 1;
    opacity: 0.8;
    border-radius: 50%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    background-color: rgb(var(--dashboard-background-color-rgb));
}

.label {
    font-size: var(--font-size-small);
    z-index: 1;
    width: 100%;
    text-align: center;
    color: rgb(var(--dashboard-text-color-rgb));
}

.nameInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-block-small);
}

.name {
    font-size: var(--font-size-medium);
    font-weight: 600;
    z-index: 1;
    max-width: 20ch;
    text-align: center;
    color: rgb(var(--dashboard-text-color-rgb));
}

.iconContainer {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(var(--dashboard-background-color-contrast-rgb));
    outline: 2px solid rgb(var(--dashboard-background-color-rgb));
    cursor: pointer;
}

.iconContainer svg {
    width: 30px;
    height: 30px;
    stroke: rgb(var(--dashboard-text-color-rgb));
    fill: rgb(var(--dashboard-text-color-rgb));
    stroke-width: 0.5;
}

.nameInputContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-block-small);
}

.nameInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-block-small);
}

.input {
    width: 100%;
    height: 30px;
    border: 1px solid #e1e1e1;
    color: rgb(var(--dashboard-text-color-rgb));
    padding-inline-start: var(--padding-block-small);
    font-size: var(--font-size-small);
}

.input:focus {
    outline: none;
    border: 1px solid rgb(var(--dashboard-accent-color-rgb));
}

.submitButton {
    width: 100%;
    background-color: rgb(var(--dashboard-accent-color-rgb));
    color: rgb(var(--dashboard-accent-color-contrast-rgb));
    min-height: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-xsmall);
    font-size: var(--font-size-small);
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-block-start: var(--padding-block-medium);
    gap: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
}

.cancelButton {
    width: 100%;
    background-color: rgb(var(--dashboard-background-color-rgb));
    color: rgb(22, 22, 22);
    height: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-xsmall);
    font-size: var(--font-size-small);
}

@media screen and (hover: hover) {
    .cancelButton:hover {
        background-color: rgb(var(--dashboard-background-color-rgb), 0.5);
    }
    .submitButton:hover {
        background-color: rgb(var(--dashboard-accent-color-hover-rgb));
    }
    .iconContainer:hover svg {
        stroke: rgb(var(--dashboard-accent-color-hover-rgb));
        fill: rgb(var(--dashboard-accent-color-hover-rgb));
    }
}
