.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: -500px;
    height: 100%;
    width: 100%;
    background-color: rgb(var(--editor-side-menu-background-rgb));
    z-index: 10;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-block: var(--padding-block-medium);
    padding-inline: var(--padding-inline-medium);
}

.closeButton {
    align-self: flex-start;
    color: rgb(var(--editor-side-menu-text-rgb));
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.closeButton svg {
    width: 100%;
    height: 100%;
    stroke: rgb(var(--editor-side-menu-text-rgb));
}

.closeButton svg:hover {
    stroke: rgb(var(--editor-side-menu-low-contrast-text-rgb));
}
