.itemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-small);
}

.titleContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-small);
}

.iconContainer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContainer svg {
    width: 100%;
    height: 100%;
    stroke: rgb(var(--editor-side-menu-accent-rgb));
    fill: rgb(var(--editor-side-menu-accent-rgb));
}

.title {
    font-size: var(--font-size-medium);
    color: rgb(var(--editor-side-menu-text-rgb));
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.description {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-side-menu-text-rgb));
    width: 100%;
    text-align: left;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-small);
    padding-inline: var(--padding-inline-medium);
    padding-block: var(--padding-block-small);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: context-menu;
}

.pageFunctionContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.section {
    width: 100%;
    background-color: rgb(var(--editor-side-menu-contrast-background-rgb));
    border: 1px solid black;
    padding: var(--padding-block-medium);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionText {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-side-menu-contrast-text-rgb));
    text-align: left;
}

.addSectionButton {
    width: 100%;
    height: 15px;
    font-size: var(--font-size-medium);
    background-color: rgb(var(--editor-side-menu-accent-rgb));
    border-radius: var(--border-radius-xsmall);
    color: rgb(var(--editor-side-menu-text-rgb));
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-block: var(--padding-block-small);
}

.addSectionButton:hover {
    background-color: rgb(var(--editor-side-menu-accent-hover-rgb));
}

.sectionItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.horizontalLine {
    width: 100%;
    height: 1px;
    background-color: rgb(var(--editor-side-menu-text-rgb));
    margin-block: var(--padding-block-small);
}

.deleteButton {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
}

.deleteButton svg {
    width: 100%;
    height: 100%;
    fill: #f97777;
    stroke: #f97777;
}

.deleteButton svg:hover {
    stroke: rgb(134, 70, 70);
    fill: rgb(134, 70, 70);
    transform: scale(1.1);
}

.replaceButton {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    background-color: rgb(var(--editor-side-menu-accent-rgb));
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.replaceButton svg {
    width: 70%;
    height: 70%;
    fill: rgb(var(--editor-side-menu-accent-rgb));
    stroke: white;
    stroke-width: 2.5;
}

.replaceButton svg:hover {
    transform: scale(1.1);
}

.sectionTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-small);
    padding-block-start: var(--padding-block-small);
}

.sectionTitle {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: rgb(var(--editor-side-menu-low-contrast-text-rgb));
    letter-spacing: 3px;
}

.newColumnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-block-start: var(--padding-block-small);
    gap: var(--gap-small);
}

.pageInfo {
    width: 100%;
    font-size: var(--font-size-small);
    font-weight: bold;
    color: rgb(var(--editor-side-menu-low-contrast-text-rgb));
    letter-spacing: 3px;
}
