.modalContent {
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-medium);
}

.icon {
    font-size: var(--font-size-x3large);
    color: rgb(var(--accent-color-rgb));
}

.title {
    font-size: var(--font-size-xlarge);
    color: rgb(var(--accent-color-rgb));
    margin-block-start: var(--margin-block-large);
    margin-block-end: var(--margin-block-large);
}

.text {
    font-size: var(--font-size-medium);
    color: black;
    margin-block-start: var(--margin-block-large);
    margin-block-end: var(--margin-block-large);
}

.button {
    width: 100%;
    background-color: rgb(var(--accent-color-rgb));
    color: white;
    border-radius: var(--border-radius-small);
    height: 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgb(var(--accent-color-rgb), 0.6);
}

.logo {
    background-image: url("/images/logos/logo1024.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8rem;
    height: 8rem;
    margin-inline: auto;
}

.form {
    width: 100%;
    display: flex;
    margin-block-start: var(--padding-block-medium);
}
