.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-medium);
    padding-block: var(--padding-block-small);
    justify-content: center;
    align-items: flex-start;
}

.noSubscriptionText {
    font-size: var(--font-size-small);
    color: var(--color-primary);
    width: 100%;
    text-align: left;
}

.title {
    font-size: var(--font-size-medium);
    font-weight: 600;
    color: rgb(var(--dashboard-accent-color-rgb));
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-medium);
    width: 100%;
}

.itemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--padding-block-small);
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-block-small);
}

.iconContainer {
    width: 20px;
    height: 20px;
}

.iconContainer svg {
    fill: transparent;
    stroke: rgb(var(--dashboard-accent-color-rgb));
    stroke-width: 1;
}

.text {
    font-size: var(--font-size-medium);
    font-weight: 600;
    color: rgb(var(--dashboard-text-color-rgb));
}

.subText {
    font-size: var(--font-size-medium);
    width: 100%;
    text-align: left;
    color: rgb(var(--dashboard-text-color-rgb));
}

.paymentInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-block-small);
    width: 100%;
}

.paymentTextTitle {
    font-size: var(--font-size-medium);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(var(--dashboard-text-color-rgb));
}

.paymentText {
    font-size: var(--font-size-medium);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(var(--dashboard-text-color-rgb));
}

.updateLink {
    font-size: var(--font-size-small);
    color: rgb(var(--dashboard-accent-color-rgb));
    cursor: pointer;
}

.cancelledContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: var(--padding-block-medium);
}

.renewButton {
    width: 100%;
    background-color: rgb(var(--dashboard-accent-color-rgb));
    color: rgb(var(--dashboard-accent-color-contrast-rgb));
    height: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (hover: hover) {
    .renewButton:hover {
        background-color: rgb(var(--dashboard-accent-color-hover-rgb));
    }

    .updateLink:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 480px) {
    .paymentInfo {
        flex-direction: column;
        gap: var(--padding-block-small);
        align-items: flex-start;
        justify-content: center;
    }
}
