.functionButtonContainer {
    display: flex;
    flex-direction: row;
    gap: var(--gap-medium);
    align-items: center;
    justify-content: center;
}

.button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: var(--padding-block-small);
    border-radius: var(--border-radius-small);
}

.button svg {
    width: 15px;
    height: 15px;
    stroke: rgb(var(--editor-text-color-rgb));
    fill: rgb(var(--editor-text-color-rgb));
}

.button:hover {
    background-color: rgb(var(--editor-text-contrast-color-rgb));
}

.button:hover svg {
    stroke: rgb(var(--editor-text-color-rgb), 0.5);
    fill: rgb(var(--editor-text-color-rgb), 0.5);
}

.disabledButton {
    background-color: transparent;
    border: none;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
    opacity: 0.5;
}

.disabledButton svg {
    stroke: rgb(var(--editor-text-color-rgb));
    fill: rgb(var(--editor-text-color-rgb));
    width: 100%;
    height: 100%;
}
