.titleContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-small);
}

.titleContainer svg {
    width: 30px;
    height: 30px;
    stroke: rgb(var(--editor-side-menu-accent-rgb));
    fill: rgb(var(--editor-side-menu-accent-rgb));
}

.title {
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: rgb(var(--editor-side-menu-text-rgb));
}

.searchBarContainer {
    width: 100%;
    border-radius: var(--border-radius-xsmall);
    padding-inline: var(--padding-inline-medium);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-inline-medium);
    border: 1px solid black;
    background-color: rgb(var(--editor-side-menu-contrast-background-rgb));
}

.searchIconContainer {
    width: 20px;
    height: 20px;
}

.searchIconContainer svg {
    width: 100%;
    height: 100%;
    fill: rgb(var(--editor-side-menu-low-contrast-text-rgb));
}

.searchBarInput {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: var(--font-size-small);
    padding-block: var(--padding-block-small);
}

.searchBarInput::placeholder {
    color: rgb(var(--editor-side-menu-low-contrast-text-rgb));
}

.templateContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-large);
    padding-block: var(--padding-block-medium);
}

.rowTitle {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.templates {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--padding-inline-small);
    overflow-x: auto;
    padding-block-end: var(--padding-block-medium);
}

.template {
    aspect-ratio: 8.5/11;
    width: 95px;
}

.templatePreview {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(198, 198, 198, 0.416);
    cursor: pointer;
}

@media (hover: hover) {
    .templatePreview:hover {
        border: 1px solid rgb(174, 174, 174);
    }
}

.templateName {
    font-size: var(--font-size-small);
    font-weight: bold;
    padding-block: calc(var(--padding-block-small) / 2);
    color: rgb(var(--editor-side-menu-text-rgb));
}

.rowContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-small);
    padding-inline: var(--padding-inline-small);
    padding-block: var(--padding-block-medium);
}

.keywordContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--padding-inline-small);
    padding-block: var(--padding-block-small);
    padding-inline: 2px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    position: relative;
}

.keywordContainer::-webkit-scrollbar {
    display: none;
}

.keyword {
    font-size: var(--font-size-small);
}

.keywordItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--editor-side-menu-background-rgb), 0.5);
    border: 1px solid rgb(var(--editor-side-menu-low-contrast-text-rgb));
    color: rgb(var(--editor-side-menu-text-rgb));
    cursor: pointer;
    border-radius: var(--border-radius-xsmall);
    padding-inline: var(--padding-inline-small);
    padding-block: var(--padding-block-small);
}

.keywordItemActive {
    background-color: rgb(var(--editor-side-menu-accent-rgb));
    color: rgb(var(--editor-side-menu-text-rgb));
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--border-radius-xsmall);
    padding-inline: var(--padding-inline-small);
    padding-block: var(--padding-block-small);
}

.keywordItem:hover {
    background-color: rgb(var(--editor-side-menu-accent-rgb));
}

.backButton {
    position: absolute;
    width: 2rem;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    cursor: pointer;
}

.backButton:hover {
    background: rgb(var(--editor-side-menu-background-rgb));
}

.button {
    width: 2rem;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button svg {
    width: 100%;
    height: 100%;
    fill: rgb(var(--editor-side-menu-accent-rgb));
    stroke: rgb(var(--editor-side-menu-accent-rgb));
}

.button svg:hover {
    fill: rgb(var(--editor-side-menu-accent-hover-rgb));
    stroke: rgb(var(--editor-side-menu-accent-hover-rgb));
}

.grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--padding-block-medium) / 2);
    overflow-y: auto;
    scrollbar-width: none;
    margin-block-start: -0.5rem;
}

.grid::-webkit-scrollbar {
    display: none;
}

.keywordFunctionContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
