.searchBarContainer {
    width: 100%;
    border-radius: var(--border-radius-xsmall);
    padding-inline: var(--padding-inline-medium);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-inline-medium);
    border: 1px solid black;
}

.searchIconContainer {
    width: 20px;
    height: 20px;
}

.searchIconContainer svg {
    width: 100%;
    height: 100%;
    fill: black;
}

.searchBarInput {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: var(--font-size-small);
    padding-block: var(--padding-block-small);
}

.searchBarInput::placeholder {
    color: rgb(146, 146, 146);
}

.templateContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-large);
    padding-block: var(--padding-block-medium);
}

.rowTitle {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.templates {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--padding-inline-small);
    overflow-x: auto;
    padding-block-end: var(--padding-block-medium);
}

.template {
    aspect-ratio: 8.5/11;
    min-width: 150px;
}

.templatePreview {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(198, 198, 198, 0.416);
    cursor: pointer;
}

@media (hover: hover) {
    .templatePreview:hover {
        border: 1px solid rgb(174, 174, 174);
    }
}

.templateName {
    font-size: var(--font-size-small);
    padding-block: var(--padding-block-small);
    font-weight: bold;
}

.rowContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-block-small);
    padding-inline: var(--padding-inline-small);
    padding-block: var(--padding-block-medium);
}
