.main {
    height: calc(100% - var(--nav-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.heroSectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroSectionContainer::after {
    content: "";
    width: 200%;
    height: 225%;
    top: -150%;
    left: -100%;
    background-color: var(--accent-color);
    position: absolute;
    z-index: -1;
    transform: rotate(-8deg);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.heroSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    max-width: var(--max-width);
    padding-block-start: var(--padding-block-xlarge);
    padding-block-end: var(--padding-block-large);
    padding-inline: var(--padding-inline-xlarge);
}

.heroSectionText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-large);
}

.heroResume {
    background-color: white;
    border-radius: var(--border-radius-small);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    position: relative;
}
