.documentContainer {
    aspect-ratio: 8.5 / 11;
    width: 70%;
    min-width: 300px;
    max-width: 800px;
    /*box shadow that goes down and to the left*/
    -webkit-box-shadow: -15px 10px 21px -3px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -15px 10px 21px -3px rgba(0, 0, 0, 0.54);
    box-shadow: -15px 10px 21px -3px rgba(0, 0, 0, 0.54);
    margin-inline: auto;
    position: relative;
}

.document {
    aspect-ratio: 8.5 / 11;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .documentContainer {
        width: 90%;
    }
}

.testDocument {
    aspect-ratio: 8.5 / 11;
    width: 100%;
    background-color: red;
    overflow: hidden;

    line-height: 1.5;
}

.testContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: 100%;
}

.testContainer p {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

/*
[595.28, 841.89],
*/
