.stylesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.titleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-small);
}

.titleContainer svg {
    width: 30px;
    height: 30px;
    stroke: rgb(var(--editor-side-menu-accent-rgb));
    fill: rgb(var(--editor-side-menu-accent-rgb));
}

.title {
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: rgb(var(--editor-side-menu-text-rgb));
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
}

.description {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: rgb(var(--editor-side-menu-text-rgb));
}

.sectionContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-small);
}

.font {
    width: 60%;
    padding-block: var(--padding-block-small);
    padding-inline-start: var(--padding-inline-small);
    border-radius: var(--border-radius-xsmall);
    background-color: rgb(var(--editor-side-menu-contrast-background-rgb));
    border: 1px solid rgb(var(--editor-side-menu-contrast-background-rgb));
    color: rgb(var(--editor-side-menu-contrast-text-rgb));
    text-align: left;
}

.fontSize,
.marginSize,
.sectionGap {
    max-width: 3rem;
    padding-inline: var(--padding-inline-small);
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-small);
    background-color: rgb(var(--editor-side-menu-contrast-background-rgb));
    border: 1px solid rgb(var(--editor-side-menu-contrast-background-rgb));
    color: rgb(var(--editor-side-menu-contrast-text-rgb));
    text-align: center;
}

.button {
    background-color: rgb(var(--editor-side-menu-contrast-background-rgb));
    border: 1px solid rgb(var(--editor-side-menu-low-contrast-background-rgb));
    padding-inline: var(--padding-inline-small);
    padding-block: var(--padding-block-small);
    color: rgb(var(--editor-side-menu-contrast-text-rgb));
    cursor: pointer;
    font-weight: bold;
}

.button svg {
    width: 10px;
    height: 10px;
    stroke: rgb(var(--editor-side-menu-contrast-text-rgb));
    fill: rgb(var(--editor-side-menu-contrast-text-rgb));
}

.button:hover {
    background-color: rgb(var(--editor-side-menu-low-contrast-background-rgb));
}

.right {
    border-top-right-radius: var(--border-radius-xsmall);
    border-bottom-right-radius: var(--border-radius-xsmall);
}

.left {
    border-top-left-radius: var(--border-radius-xsmall);
    border-bottom-left-radius: var(--border-radius-xsmall);
}

.font:focus,
.fontSize:focus,
.marginSize:focus,
.sectionGap:focus {
    outline: none;
    border: 1px solid rgb(var(--editor-side-menu-contrast-background-rgb));
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Optional: Remove margin */
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorPickerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-small);
}

.colorPickerButtonContainer {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-small);
}

.colorPickerButtonWrapper {
    width: 25px;
    height: 25px;
    background-color: rgb(var(--editor-side-menu-low-contrast-text-rgb));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.colorPickerButton {
    border-radius: 50%;
    width: 60%;
    height: 60%;
    border: none;
    cursor: pointer;
}

.pickerContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-block-start: var(--padding-block-medium);
}

.sectionTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-small);
    padding-block-start: var(--padding-block-small);
}

.horizontalBar {
    width: 100%;
    height: 1px;
    background-color: rgb(var(--editor-side-menu-low-contrast-text-rgb));
}

.sectionTitle {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: rgb(var(--editor-side-menu-low-contrast-text-rgb));
    letter-spacing: 3px;
}
