.stylesContainer {
    width: 100%;
    background-color: white;
    padding-inline: var(--padding-inline-small);
    padding-block: var(--padding-block-small);
    border-radius: var(--border-radius-xsmall);
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.titleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-small);
}

.titleContainer svg {
    width: 30px;
    height: 30px;
    stroke: white;
    fill: #7467ff;
}

.title {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-small);
}

.topRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-small);
}

.description {
    font-size: var(--font-size-small);
    font-weight: bold;
}

.sectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-small) / 2);
}

.font,
.fontSize,
.marginSize {
    width: 100%;
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-small);
    border-radius: var(--border-radius-xsmall);
    border: 1px solid lightgrey;
}

.font:focus,
.fontSize:focus,
.marginSize:focus {
    outline: none;
    border: 1px solid #7467ff;
}

.colorPickerButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.pickerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorPickerButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-small);
    margin-block-start: var(--padding-block-small);
}
