.pageCounter {
    display: flex;
    gap: var(--gap-medium);
    align-items: center;
    justify-content: center;
}

.pageCounter p {
    color: rgb(var(--editor-text-color-rgb));
    font-size: var(--font-size-small);
    margin: 0;
    padding: 0;
}

.pageChanger {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: var(--padding-block-small);
    border-radius: var(--border-radius-small);
}

.disabled {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
    opacity: 0.5;
}

.pageChanger svg {
    stroke: rgb(var(--editor-text-color-rgb));
    fill: rgb(var(--editor-text-color-rgb));
    width: 15px;
    height: 15px;
}

.pageChanger:hover {
    background-color: rgb(var(--editor-text-contrast-color-rgb));
}

.pageChanger:hover svg {
    stroke: rgb(var(--editor-text-color-rgb), 0.5);
    fill: rgb(var(--editor-text-color-rgb), 0.5);
}

.disabled svg {
    stroke: rgb(var(--editor-text-color-rgb));
    fill: rgb(var(--editor-text-color-rgb));
    width: 15px;
    height: 15px;
}
