.pageCounter {
    display: flex;
    width: 12rem;
    gap: var(--gap-medium);
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--editor-accent-color-rgb));
    padding-inline: var(--padding-block-small);
    padding-block: var(--padding-block-small);
    border-radius: var(--border-radius-xsmall);
}

.pageCounter p {
    color: rgb(var(--editor-text-contrast-color-rgb));
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
}

.pageChanger {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.disabled {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
    opacity: 0.5;
}

.pageChanger svg {
    stroke: rgb(var(--editor-text-contrast-color-rgb));
    fill: rgb(var(--editor-text-contrast-color-rgb));
    width: 15px;
    height: 15px;
}

.pageChanger svg {
    stroke: rgb(var(--editor-text-contrast-color-rgb));
    fill: rgb(var(--editor-text-contrast-color-rgb));
    width: 15px;
    height: 15px;
}

.pageChanger svg:hover {
    stroke: rgb(var(--editor-text-contrast-color-rgb), 0.5);
    fill: rgb(var(--editor-text-contrast-color-rgb), 0.5);
}

.disabled svg {
    stroke: rgb(var(--editor-text-contrast-color-rgb), 0.5);
    fill: rgb(var(--editor-text-contrast-color-rgb), 0.5);
    width: 15px;
    height: 15px;
}
