.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-block-medium);
    padding-block: var(--padding-block-medium);
}

.resumesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: var(--gap-large); /* Adjust as needed */
    width: 100%;
    margin: 0 auto; /* Center the grid horizontally */
    position: relative;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-inline-small);
}

.button {
    font-size: var(--font-size-small);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    padding: var(--padding-block-medium);
}

.buttonNumber {
    font-size: var(--font-size-small);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: var(--padding-block-medium);
    color: rgb(var(--dashboard-text-color-rgb));
    background-color: rgb(var(--dashboard-background-contrast-color-rgb));
}

.longButton {
    font-size: var(--font-size-small);
    font-weight: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    padding: var(--padding-block-medium);
}

.iconContainer {
    width: 20px;
    height: 20px;
}

.button svg {
    stroke: rgb(158, 158, 158);
    fill: rgb(158, 158, 158);
    width: 20px;
    height: 20px;
    stroke-width: 0.1;
}

.active {
    font-size: var(--font-size-small);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: var(--padding-block-medium);
    background-color: rgb(var(--dashboard-accent-color-rgb));
    color: rgb(var(--dashboard-accent-color-contrast-rgb));
}

.empty {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: var(--padding-block-small);
}

.empty p {
    font-size: var(--font-size-small);
    color: rgb(var(--dashboard-text-color-rgb));
}

@media screen and (hover: hover) {
    .active:hover {
        background-color: rgb(var(--dashboard-accent-color-hover-rgb));
        color: rgb(var(--dashboard-accent-color-contrast-rgb));
    }

    .button:hover svg {
        stroke: rgb(var(--dashboard-accent-color-rgb));
        fill: rgb(var(--dashboard-accent-color-rgb));
    }

    .longButton:hover {
        color: rgb(var(--dashboard-accent-color-rgb));
    }

    .buttonNumber:hover {
        background-color: rgb(
            var(--dashboard-background-contrast-color-rgb),
            0.5
        );
    }
}

@media screen and (max-width: 700px) {
    .resumesContainer {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: auto;
    }
}

@media screen and (max-width: 564px) {
    .label {
        font-size: var(--font-size-xsmall);
    }
    .value {
        font-size: var(--font-size-xsmall);
    }
    .statusContainer {
        gap: 0.2rem;
    }
}

@media screen and (max-width: 390px) {
    .item {
        flex-direction: column;
        gap: var(--padding-block-medium);
        justify-content: center;
        align-items: flex-start;
    }
    .itemContainer p {
        font-size: var(--font-size-medium);
    }
    .column {
        gap: var(--padding-block-xsmall);
    }
    .longButton {
        display: none;
    }
    .buttonNumber {
        display: none;
    }
}
