.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding-block: var(--padding-block-large);
    padding-inline: var(--padding-inline-large);
    overflow-y: auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 100;
}

.modal {
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 800px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.titleContainer {
    display: flex;
    gap: var(--gap-small);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(var(--editor-accent-color-rgb));
    padding-block: var(--padding-block-medium);
    padding-inline: var(--padding-inline-large);
}

.sectionTitle {
    font-size: var(--font-size-medium);
    color: rgb(var(--editor-accent-color-contrast-rgb));
}

.closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(var(--editor-accent-color-contrast-rgb));
}

.optionsBar {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.optionItem {
    padding-inline: var(--padding-inline-small);
}

.optionContainer {
    display: flex;
    gap: var(--gap-small);
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dateButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionLabel {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
}

.optionLabelPermanent {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
}

@media screen and (max-width: 425px) {
    .optionItem {
        padding-inline: var(--padding-inline-medium);
    }
    .optionsBar {
        justify-content: center;
    }
}

.option {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: var(--padding-block-small);
}

.dateButton {
    padding-inline: var(--padding-inline-small);
}

.leftButton {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.rightButton {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.option p {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
}

.selectedDate {
    background-color: rgb(var(--editor-accent-color-rgb));
}

.selectedDate p {
    color: rgb(var(--editor-accent-color-contrast-rgb));
}

.option svg {
    width: 1.2rem;
    height: 1.2rem;
    fill: rgb(var(--editor-text-color-rgb));
}

.selected svg {
    fill: rgb(var(--editor-accent-color-rgb));
}

.decreaseOption svg {
    width: 1.1rem;
    height: 1.1rem;
    fill: rgb(var(--editor-text-color-rgb));
}

.increaseOption svg {
    width: 1.1rem;
    height: 1.1rem;
    fill: rgb(var(--editor-text-color-rgb));
}

.saveButtonContainer {
    width: 100%;
    display: flex;
    gap: var(--gap-small);
    justify-content: flex-end;
    align-items: center;
}

.saveButton {
    background-color: rgb(var(--editor-accent-color-rgb));
    color: rgb(var(--editor-accent-color-contrast-rgb));
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-small);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: var(--padding-block-medium);
    padding-inline: var(--padding-inline-large);
    gap: var(--gap-medium);
}

.textArea {
    width: 100%;
    border: none;
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    background-color: rgb(247, 247, 247);
    border: 1px solid rgba(224, 224, 224, 0.3);
    border-radius: 5px;
    font-size: var(--font-size-small);
    /*it is a text area, make sure it has at least 5 lines of height*/
    min-height: 8rem;
}

.textArea:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    outline: none;
}

.inputRowContainer {
    width: 100%;
    display: flex;
    column-gap: var(--gap-small);
    row-gap: var(--gap-medium);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputItemContainer {
    flex-grow: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.inputItemContainer100 {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.inputItemRow {
    display: flex;
    gap: var(--gap-small);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputLabel {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
    font-weight: bold;
}

.textInput {
    flex-grow: 1;
    border: none;
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    background-color: rgb(247, 247, 247);
    border: 1px solid rgba(224, 224, 224, 0.3);
    border-radius: 5px;
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
    font-size: var(--font-size-small);
}

.textInput:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    outline: none;
}

.toggleContainer {
    display: flex;
    gap: var(--gap-small);
    align-items: center;
    justify-content: flex-start;
}

.disabled {
    color: rgba(0, 0, 0, 0.3);
}

.addButton {
    background-color: rgb(var(--editor-accent-color-rgb));
    color: rgb(var(--editor-accent-color-contrast-rgb));
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-small);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton svg {
    width: 1rem;
    height: 1rem;
    fill: rgb(var(--editor-accent-color-contrast-rgb));
}

.addButtonSmall svg {
    width: 0.7rem;
    height: 0.7rem;
    fill: rgb(var(--editor-accent-color-contrast-rgb));
}

.columnList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-medium);
}

.columnListRowItem {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-small);
}

.columnListRowItem p {
    width: 100%;
    text-align: left;
    color: rgb(var(--editor-text-color-rgb));
}

.smallText {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
}

.columnListRowItem h3 {
    font-size: var(--font-size-medium);
    color: rgb(var(--editor-text-color-rgb));
    font-weight: bold;
}

.innerColumnList {
    width: 100%;
    padding-inline-start: var(--padding-inline-medium);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-small);
}

.editButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editButton svg {
    width: 0.8rem;
    height: 0.8rem;
    fill: rgb(var(--editor-text-color-rgb));
}

.cancelButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelButton svg {
    width: 0.8rem;
    height: 0.8rem;
    fill: rgb(227, 115, 84);
}

.rowContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-small);
}

.skillCategoryCardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.cardButtonContainer {
    width: 100%;
    display: flex;
    gap: var(--gap-small);
    justify-content: flex-end;
    align-items: center;
}

.skillCategoryCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    border-radius: 5px;
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.cardEditButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
}

.cardEditButton svg {
    margin-bottom: 2px;
    width: 0.8rem;
    height: 0.8rem;
    fill: rgb(var(--editor-text-color-rgb));
}

.cardEditButton p {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
}

.cardEditButtonActive p {
    color: rgb(var(--editor-accent-color-hover-rgb));
}

.cardEditButtonActive svg {
    fill: rgb(var(--editor-accent-color-hover-rgb));
}

.cardDeleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.cardDeleteButton svg {
    width: 0.8rem;
    height: 0.8rem;
    fill: rgb(227, 115, 84);
}

.experienceItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.companyName {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
    font-weight: bold;
}

.position {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
}

.editTitle {
    font-size: var(--font-size-medium);
    color: rgb(var(--editor-text-color-rgb));
    font-weight: bold;
    margin-bottom: var(--gap-small);
}

.date {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
}

.jobSummary {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
}

.bulletListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-small) / 2);
}

.bullet {
    font-size: var(--font-size-small);
    color: rgb(var(--editor-text-color-rgb));
    margin-inline-start: var(--padding-inline-medium);
}

.topRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-small);
}

.dateContainer {
    display: flex;
    gap: var(--gap-small);
    align-items: center;
    justify-content: center;
}

.experienceButtonContainer {
    margin-block-start: var(--gap-medium);
}

.cancelEditButton {
    width: 80px;
    background-color: rgb(215, 215, 215);
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(95, 95, 95);
}

.saveEditButton {
    width: 80px;
    background-color: rgb(var(--editor-accent-color-rgb));
    color: rgb(var(--editor-accent-color-contrast-rgb));
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulletPoint {
    height: 0.5rem;
    width: 0.5rem;
    background-color: black;
    border-radius: 50%;
}

.addBulletButton {
    padding-block: var(--padding-block-small);
    padding-inline: var(--padding-inline-medium);
    background-color: rgb(var(--editor-accent-color-rgb));
    color: rgb(var(--editor-accent-color-contrast-rgb));
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experienceTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-small);
}

.checkboxContainer {
    width: 100%;
    display: flex;
    gap: var(--gap-medium);
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.checkboxItem {
    display: flex;
    gap: var(--gap-small);
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 425px) {
    .modal {
        width: 95%;
    }

    .container {
        padding-block: var(--padding-block-medium);
        padding-inline: var(--padding-inline-medium);
    }
}

@media (hover: hover) {
    .addBulletButton:hover {
        background-color: rgb(var(--editor-accent-color-hover-rgb));
    }

    .cancelEditButton:hover {
        background-color: rgb(200, 200, 200);
    }

    .cancelButton:hover svg {
        fill: rgb(var(--editor-accent-color-rgb));
    }

    .editButton:hover svg {
        fill: rgb(var(--editor-accent-color-rgb));
    }

    .saveEditButton:hover {
        background-color: rgb(var(--editor-accent-color-hover-rgb));
    }

    .addButton:hover {
        background-color: rgb(var(--editor-accent-color-hover-rgb));
    }

    .saveButton:hover {
        background-color: rgb(var(--editor-accent-color-hover-rgb));
    }

    .option:hover svg {
        fill: rgb(var(--editor-accent-color-rgb));
    }

    .closeButton:hover svg {
        fill: rgb(var(--editor-accent-color-contrast-hover-rgb));
    }

    .dateButton:hover {
        background-color: rgb(var(--editor-accent-color-hover-rgb));
    }

    .cardEditButton:hover p {
        color: rgb(var(--editor-accent-color-hover-rgb));
    }

    .cardEditButton:hover svg {
        fill: rgb(var(--editor-accent-color-hover-rgb));
    }

    .cardDeleteButton:hover svg {
        fill: rgb(227, 115, 84);
    }

    .cardDeleteButton:hover p {
        color: rgb(227, 115, 84);
    }

    .selectedDate:hover {
        background-color: rgb(var(--editor-accent-color-rgb));
    }
}
