.profileSectionContent {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: var(--padding-block-medium);
    background-color: transparent;
}

.profileImage {
    z-index: 1;
    width: 100%;
    max-width: 130px;
    aspect-ratio: 1/1;
}

.label {
    font-size: var(--font-size-small);
    z-index: 1;
    width: 100%;
    text-align: left;
    color: #797979;
}

.nameInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-block-small);
}

.nameLabel {
    text-align: center;
}

.name {
    font-size: var(--font-size-medium);
    font-weight: 600;
    z-index: 1;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.contactInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-block-start: var(--padding-block-small);
    gap: var(--padding-block-small);
}

.fieldContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.4rem;
}

.item {
    font-size: var(--font-size-small);
    font-weight: bold;
    z-index: 1;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    background-color: rgb(242, 242, 242);
    border-radius: var(--border-radius-xsmall);
    padding-block: var(--padding-block-small);
    padding-inline-start: var(--padding-block-small);
}

.profileImagecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-block-medium);
    z-index: 1;
    border-radius: var(--border-radius-xsmall);
    padding-block: var(--padding-block-medium);
    position: relative;
}

.nameInputContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-block-small);
}

.nameInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-block-small);
}

.input {
    width: 100%;
    height: 30px;
    border: 1px solid #e1e1e1;

    padding-inline-start: var(--padding-block-small);
    font-size: var(--font-size-small);
}

.input:focus {
    outline: none;
    border: 1px solid #a183cf;
}

.submitButton {
    width: 100%;
    background-color: #a183cf;
    color: white;
    min-height: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton:hover {
    background-color: #8a6fbf;
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-block-start: var(--padding-block-medium);
    gap: var(--padding-block-small);
}

.cancelButton {
    width: 100%;
    background-color: #eaeaea;
    color: rgb(22, 22, 22);
    height: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelButton:hover {
    background-color: #ffbcbc;
}

@media screen and (max-width: 900px) {
    .profileSection {
        padding-inline: var(--padding-block-large);
        padding-block: var(--padding-block-large);
    }
    .profileSectionContent {
        flex-direction: row;
        align-items: flex-end;
    }
    .contactInfo {
        width: 100%;
        align-self: center;
    }
}

@media screen and (max-width: 635px) {
    .profileSectionContent {
        flex-direction: column;
    }
    .label {
        text-align: center;
    }
    .item {
        text-align: center;
        padding-block-end: var(--padding-block-medium);
    }
}

@media screen and (max-width: 500px) {
    .item {
        font-size: var(--font-size-small);
    }
    .profileSection {
        padding-inline: var(--padding-block-medium);
        padding-block: var(--padding-block-medium);
    }
}
