.container {
    height: var(--editor-subtitlebar-height);
    width: 100%;
    background-color: var(--editor-subtitlebar-background-background-color-rgb);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--padding-inline-small);
    color: white;
    gap: var(--gap-medium);
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
}

.iconContainer {
    border: none;
    padding-inline: var(--padding-block-small);
    padding-block: calc(var(--padding-block-small));
    border-radius: var(--border-radius-xsmall);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: var(--gap-small);
    background-color: rgb(var(--editor-subtitlebar-background-color-rgb));
}

.iconContainer p {
    font-size: calc(var(--font-size-small) / 1.1);
    color: black;
}

@media (hover: hover) {
    .iconContainer:hover {
        background-color: rgb(
            var(--editor-subtitlebar-button-hover-background-color-rgb)
        );
    }
}

.active {
    background-color: rgb(
        var(--editor-subtitlebar-button-hover-background-color-rgb)
    );
}

.iconContainer svg {
    stroke: black;
    fill: black;
    width: 15px;
    height: 15px;
}

.iconContainer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.deleteIcon svg {
    stroke: rgb(238, 119, 98);
    fill: rgb(238, 119, 98);
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 630px) {
    .iconContainer p {
        display: none;
    }

    .container {
        width: 100%;
        padding-inline: 5px;
    }
}
