.bigSidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    width: 25%;
    /* background: linear-gradient(
        180deg,
        rgb(var(--dashboard-accent-color-hover-rgb)) 0%,
        rgb(var(--dashboard-accent-color-rgb)) 54%,
        rgb(var(--dashboard-accent-color-rgb)) 100%
    ); */

    background-color: rgb(var(--dashboard-accent-color-rgb));
    /* box shadow for a left sidebar */
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
        -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    border: none;
}

.mobileMenuContainer {
    display: none;
}

@media screen and (max-width: 1000px) {
    .bigSidebar {
        display: none;
    }
    .mobileMenuContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 60px;
    }
}
