.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: bold;
    color: white;
}
