.navContainer {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline: var(--padding-inline-xlarge);
    z-index: 10;
    color: black;
}

.textContainer {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--padding-inline-large);
    max-width: var(--max-width);
}

.companyName {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.navItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-medium);
    z-index: 1;
    height: 30px;
    position: relative;
}

.navLink {
    font-size: var(--font-size-small);
    font-weight: bold;
}

.reportButton {
    background-color: white;
    color: #007acc;
    font-weight: bold;
    border-radius: var(--border-radius);
    padding-inline: var(--padding-inline-small);
    padding-block: var(--padding-block-small);
    font-size: var(--font-size-small);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    border: none;
}

@media screen and (max-width: 580px) {
    .navContainer {
        padding-block: var(--padding-block-medium);
    }
    .textContainer {
        display: none;
    }
}
