.navContainer {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline: var(--padding-inline-xlarge);
    z-index: 10;
}

.textContainer {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--padding-inline-large);
    max-width: var(--max-width);
}

.companyName {
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: white;
}

.navItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: var(--gap-medium);
    z-index: 1;
    height: 30px;
}

.navLink {
    font-size: var(--font-size-small);
    font-weight: bold;
    color: white;
}

.accountLink {
    color: white;
    font-size: var(--font-size-medium);
}

.reportButton {
    background-color: white;
    color: var(--accent-color);
    font-weight: bold;
    border-radius: var(--border-radius);
    padding-inline: var(--padding-inline-small);
    padding-block: var(--padding-block-small);
    font-size: var(--font-size-small);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    border: none;
}

@media screen and (max-width: 450px) {
    .navContainer {
        padding-block: var(--padding-block-medium);
    }
    .textContainer {
        display: none;
    }
    /*
    .textContainer {
        padding-block: var(--padding-block-small);
        height: auto;
        position: relative;
        z-index: 1;
        border-radius: var(--border-radius);
        background-attachment: fixed;
    }
    .textContainer:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110%;
        height: 110%;
        transform: translate(-50%, -50%);
        box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
        background-color: rgba(156, 156, 156, 0.24);
        backdrop-filter: blur(10px);
        border-radius: var(--border-radius);
        border: 1px solid rgba(194, 194, 194, 0.18);
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    }
    */
}
