.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: var(--font-size-medium);
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 10px;
}
